body{
    padding: 20px;
    border-radius: 10px;
}
.container{
    width: 830px;
    height: 500px;
    font-size: 16px;
    border-radius: 9px;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.45);
    overflow: hidden;
    font-family: 'Karla', sans-serif;
    font: 400;
}
html{
    box-sizing: border-box;
}
*,*:before, *:after{
box-sizing: border-box;
}
.top-Container{
    width: 100%;
    height: 40%;   
    padding: 30px;
}
.top-Container > h2{
    color: hsl(179, 62%, 43%);
    margin-bottom: 10px;
}
.top-Container > h3{
    color: hsl(71, 73%, 54%);
    margin-bottom:5px;
}
.top-Container > p{
    color: hsl(218, 22%, 67%) ;
}
.bottom-Container{
    width: 100%;
    height: 60%;
    display: inline-flex;
    color: white;
}
.monthlySubscription{
    width: 50%;
    height: 100%;
    vertical-align: top;
    background-color: hsla(194, 91%, 37%, 0.445);
    padding: 30px;
}

.whyUs{
    width: 50%;
    height: 100%;
    vertical-align: top;
    background-color:  rgba(0, 153, 255, 0.322);
    padding: 30px;
}
.Sign-Up{
    width: 100%;
    height: 20%;
    border-radius: 8px;
    background-color: hsl(71, 73%, 54%);
    font-size: 20px !important;
    color: white;
    border: 0;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.45);
}
button:hover{
    cursor: pointer;
    background-color: #A9C42D;
    transform: scale(1.02);
}
.price{
    padding-right: 5px;
    font-weight: 700;
  display: inline-block;
}
.per-month{
    position: relative;
    font-size: 0.8rem;
    opacity: 0.7;
    display: inline-block;
    top: -3;
}

ul{
    padding: 0;
    list-style: none;
    font-size: .8rem;
    opacity: .8;
}
